@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700&display=swap');

@theme{
  --font-family: 'Fira Code', monospace;


	--primary: #c778dd;
	--gray: #abb2bf;
	--background: #282c33;
	--white: #fff;

    --breakpoint-ft: 860px;
    --breakpoint-xs: 320px;
}


.container1{
    max-width: 1260px;
    padding: 0px 40px;
    margin: 0 auto;
}